// hero
.hero
	display flex
	flex-direction column
	justify-content space-between
	background-color $royalRed
	background-blend-mode multiply
	background-image url('../img/watches.png')
	background-size 26.250em
	background-position center
	background-repeat no-repeat
	min-height 100vh
	color $white
	&-container
		display flex
		justify-content space-between
		&-title
			margin-top .8em
			margin-left .8em
			font-size 1.7em
			align-self flex-start
			text-shadow 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1)
		&-title a
			color #fff
			&:hover
				pointer cursor
				color #fff
		&-list
			margin-top 1.7em
			margin-right 1.7em
			list-style-type none
			&>a 
				color $white
				cursor pointer
			&-item
				margin 0 .5em
				display none
				&:nth-child(3)
					cursor not-allowed
				&:nth-child(4)
					cursor not-allowed
				&:nth-child(5)
					cursor not-allowed
	&-description
		align-self center
		text-align center
		font-size 3em
		text-shadow 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1)			
	&-menu
		margin-right .8em
		margin-top .7em
		z-index 2
		cursor pointer
		text-shadow 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1)
	&-arrow
		align-self center
		color $white
		text-shadow 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1)
// growth hacker
.hacker
	display flex
	flex-direction column
	justify-content center
	background-color $sonicBlue
	min-height 100vh
	color $white
	&-image
		align-self center
		width 200px
		height 200px
	&-title
		align-self center
		font-size 1.5em
		border-top 0.250em solid $white
		padding-top .2em
		margin 0 1em .5em 1em
	&-description
		align-self center
		text-align left
		word-spacing 0.063em
		line-height 1.563em
		margin 0 15%
// entrepreneur
.entrepreneur
	display flex
	flex-direction column
	justify-content center
	background-color $electricYellow
	min-height 100vh
	color $black
	&-image
		align-self center
		width 200px
		height 200px
	&-title
		align-self center
		font-size 1.5em
		border-top 0.250em solid $black
		padding-top .2em
		margin 0 1em .5em 1em
	&-description
		align-self center
		text-align left
		word-spacing 0.063em
		line-height 1.563em
		margin 0 15%
	&-description > a
		color $black
		text-decoration underline
		font-weight 700
// programmer
.programmer
	display flex
	flex-direction column
	justify-content center
	background-color $fruityPeach
	min-height 100vh
	color $white
	&-image
		align-self center
		width 200px
		height 200px
	&-title
		align-self center
		font-size 1.5em
		border-top 0.250em solid $white
		padding-top .2em
		margin 0 1em .5em 1em
	&-description
		align-self center
		text-align left
		word-spacing 0.063em
		line-height 1.563em
		margin 0 15%
// designer
.designer
	display flex
	flex-direction column
	justify-content center
	background-color $bubblegumPink
	min-height 100vh
	color $white
	&-image
		align-self center
		width 200px
		height 200px
	&-title
		align-self center
		font-size 1.5em
		border-top 0.250em solid $white
		padding-top .2em
		margin 0 1em .5em 1em
	&-description
		align-self center
		text-align left
		word-spacing 0.063em
		line-height 1.563em
		margin 0 15%
// footer
.footer
	background-color $graphite
	min-height 235vh
	padding 0 6%
	color $white
	&-by
		display flex
		justify-content center
		line-height 1em
		padding 0 0 1em 0
		font-size .8em
		margin 0
	&-bolt
		margin-top .5em
		align-self center
	&-chat
		align-self center
	&-newsletter
		display flex
		flex-direction column
		justify-content center
		min-height 75vh
		&-title
			align-self center
			padding-top 1em
			font-size 1.1em
		&-description
			font-size 1.1em
			align-self center
			text-align center
			margin-bottom 0
		&-description.small
			font-size .8em
			margin-bottom 1em
		&-description.smaller
			font-size .7em
	&-contact
		display flex
		flex-direction column
		justify-content center
		min-height 75vh
		border-bottom 0.063em solid #333
		&-title
			align-self center
			padding-top 1em
			font-size 1.1em
		&-description
			align-self center
			padding .5em 0
	&-links
		display flex
		flex-direction column
		justify-content flex-start
		min-height 85vh
		&-title
			align-self center
			margin-top 2em
			font-size 1.1em
		&-list
			list-style-type none
			align-self center
			text-align left
			margin-top 1em
			margin-left .420em
			&>a
				font-weight 700
				color $white
			&-item
				padding .6em 0
				&:hover
					color #ff4742
// Off Canvas Menu		
.sidePanel
	display flex
	flex-direction column
	background-color $graphite
	color $white
	position absolute
	height 100vh
	width 100%
	z-index 1
	transition transform .3s ease-out
	transform translate(-100%, 0)
.sidePanel.open
	transform translate(0, 0)
.sidePanel-title
	font-size 1.3em
	align-self center
.sidePanel-avatar
	width 80px
	height 80px
	border-radius 50%
	align-self center
	margin-top 1.2em
.sidePanel-description
	align-self center
	text-align center
	margin 0 1.5em
	line-height 1.563em
	word-spacing 0.063em
	letter-spacing 0.063em
.sidePanel-description > a
	color $white
	font-weight 700
.sidePanel-list
	list-style-type none
	text-align center
	align-self space-between
	margin-top 1em
.sidePanel-list > a 
	color $white
.sidePanel-list > a:nth-child(1)
	color $sonicBlue
.sidePanel-list > a:nth-child(2)
	color $electricYellow
.sidePanel-list > a:nth-child(3)
	color $greenLantern
.sidePanel-list > a:nth-child(4)
	color $awesomeOrange
.sidePanel-list > a:nth-child(5)
	color $bubblegumPink
.sidePanel-list-item
	font-weight 700
	padding .5em 0
.sidePanel-list-item:nth-child(3)
	color $greenLantern
	cursor not-allowed
.sidePanel-list-item:nth-child(4)
	color $awesomeOrange
	cursor not-allowed
.sidePanel-list-item:nth-child(5)
	color $bloodyRed	
	cursor not-allowed
// Typeform button
.typeform-share.button
	align-self center
	font-size 1em !important
	background-image none !important
	background-color transparent !important
	color #ff4742 !important
	border 0.063em solid #ff4742 !important
	font-weight 700 !important
	padding .5em 1em !important
	border-radius 0 !important
	margin-bottom 2em
	&:hover
		background-color #ff4742 !important
		color $white !important
// Animate.css
.animated.fadeIn
	animation-duration 1s
	animation-delay 1s
.animated.jello
	animation-duration 1s
	animation-delay 0s
.animated.bounceInDown
	animation-duration 2s
	animation-delay 2s
.animated.tada
	animation-duration 1.2s
	animation-delay 2s
// Font Awesome 
.fa-code
	font-size 1em
	margin 0 .5em
.fa-heart
	font-size 1em
	margin 0 .5em
.fa-magic
	font-size 1em
	margin 0 .5em
.fa-bars
	font-size 2em
.fa-times
	font-size 2em
.fa-angle-down
	font-size 3em
.fa-bolt.footer-bolt
	font-size 5em
.fa-bolt.monkey-bolt
	font-size 1em
	padding-right .2em
.fa-comments
	font-size 5em	
.fa-paper-plane
	font-size 1em
	padding-right .2em
.fa-twitter
	font-size 1em
	padding-right .5em
.fa-facebook
	font-size 1em
	padding-right .9em
.fa-youtube
	font-size 1em
	padding-right .560em
.fa-instagram
	font-size 1em
	padding-right .740em
.fa-github
	font-size 1em
	padding-right .650em
.fa-codepen
	font-size 1em
	padding-right .5em
.fa-dribbble
	font-size 1em
	padding-right .7em
.fa-linkedin
	font-size 1em
	padding-right .7em
.fa-medium
	font-size 1em
	padding-right .5em
// id's
#js-rotating
	font-weight 700
#mce-error-response
	display none
#mce-success-response
	display none
#idk
	position absolute
	left -5000px 
	aria-hidden true
#coding-bricks
	text-decoration underline
	
