@media (min-width: 1920px)
	body
		font-size 20px
	.hero
		background-size 40em
	.hero-menu
		display none
	.hero-container-list-item
		display inline
	.sidePanel
		display none
	.hacker-image
		width 280px
		height 280px
	.entrepreneur-image
		width 280px
		height 280px
	.programmer-image
		width 280px
		height 280px
	.designer-image
		width 280px
		height 280px
	.footer
		min-height 175vh
	.footer-newsletter
		min-height 50vh
	.footer-contact
		min-height 50vh
	.footer-links
		min-height 75vh