@media (min-width: 800px)
	body
		font-size 18px
	.hero
		background-size 35em
	.hero-menu
		display none
	.hero-container-list-item
		display inline
	.sidePanel
		display none
	.hacker-image
		width 280px
		height 280px
	.entrepreneur-image
		width 280px
		height 280px
	.programmer-image
		width 280px
		height 280px
	.designer-image
		width 280px
		height 280px