@media (min-width: 2560px)
	body
		font-size 21px
	.hero
		background-size 42em
	.hero-menu
		display none
	.hero-container-list-item
		display inline
	.sidePanel
		display none
	.hacker-image
		width 320px
		height 320px
	.entrepreneur-image
		width 320px
		height 320px
	.programmer-image
		width 320px
		height 320px
	.designer-image
		width 320px
		height 320px
	.footer
		min-height 175vh
	.footer-newsletter
		min-height 50vh
	.footer-contact
		min-height 50vh
	.footer-links
		min-height 75vh