@import './normalize.css'
@import './reset'

/* Color Variables */
// B&W Baby!
$black = #000
$white = #fff

// Main color palette
$royalPurple = rgb(97, 20, 204)
$royalRed = rgb(195,47,52)
$charcoal = rgb(52,48,57)
$sonicBlue = rgb(0, 156, 243)
$electricYellow = rgb(255, 191, 2)
$bloodyRed = rgb(216, 29, 78)
$bubblegumPink = rgb(234, 76, 137)
$fruityPeach = rgb(249, 97, 91)
$awesomeOrange = #ff4742
$greenLantern = #0be370
$graphite = #252525

// Document Body Default's
body
  font-family 'Proxima Nova W08 Regular', 'Lato', sans-serif
  font-size 16px

// Links Default's
a
  color #337ab7
  text-decoration none

// Document Wrapper
#main
  display flex
  flex-direction column

@import './animate.css'
@import './morphext.css'
@import './_base'

// styles for iphone6 devices and greater
@media (min-width: 375px)
	@import './_mq'

// todo: styles for printing as _base => _nomq
